.config/zsh/.zsh_sessions
.config/intelephense/*
!.config/intelephense/licence.txt
.config/zsh/.zcompdump
.config/zsh/.zcompcache
.config/aws/**/cache/

# written by install.sh / machine-local
.config/zsh/profile
.config/zsh/rc.local.d/
